
<!--<!DOCTYPE html>-->

<!--<html>-->

<!--<title>About Us</title>-->

<!--<meta charset="UTF-8">-->

<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--<link rel="stylesheet" href="css/aboutUs.css">-->

<!--<body>-->
<% include partials/header %>
    






<!-- First Parallax Image with Logo Text -->

<div class="bgimg-5 w3-display-container w3-opacity-min" id="home">

  <div class="w3-display-middle" style="white-space:nowrap;">

    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">OVERVIEW</span>

  </div>

</div>



<!-- Container (About Section) -->

<div class="w3-content w3-container w3-padding-50" id="about">

	<p align="center">

   <strong>DIABETIC RETINOPATHY</strong> is an eye condition that can cause vision loss and blindness in people who have diabetes. It affects blood vessels in the retina (the light-sensitive layer of tissue in the back of your eye).  
If you have diabetes, it’s important for you to get a comprehensive dilated eye exam at least once a year. Diabetic retinopathy may not have any symptoms at first — but finding it early can help you take steps to protect your vision. 
Managing your diabetes — by staying physically active, eating healthy, and taking your medicine — can also help you prevent or delay vision loss. 
Diabetic retinopathy is caused by high blood sugar due to diabetes. Over time, having too much sugar in your blood can damage your retina — the part of your eye that detects light and sends signals to your brain through a nerve in the back of your eye (optic nerve).  
Diabetes damages blood vessels all over the body. The damage to your eyes starts when sugar blocks the tiny blood vessels that go to your retina, causing them to leak fluid or bleed. To make up for these blocked blood vessels, your eyes then grow new blood vessels that don’t work well. These new blood vessels can leak or bleed easily. 
  </p>

</div>


<div class="bgimg-6 w3-display-container w3-opacity-min">

</div>


<div class="w3-content w3-display=container w3-padding-50" id="Symtoms">

	<h1 align="center"> SYMPTOMS </h1>

  <p>
You might not have symptoms in the early stages of diabetic retinopathy. As the condition progresses, diabetic retinopathy symptoms may include:
 <ul>
  <li>Spots or dark strings floating in your vision (floaters)</li>
  <li>Blurred vision</li>
  <li>Fluctuating vision</li>
  <li>Impaired color vision</li>
  <li>Dark or empty areas in your vision</li>
  <li>Vision loss</li>
 </ul> 
Diabetic retinopathy usually affects both eyes.
  </p>
</div>



<!-- Second Parallax Image with Portfolio Text -->

<div class="bgimg-6 w3-display-container w3-opacity-min">

</div>





<!-- Container (Team Section) -->

<div class="w3-content w3-container w3-padding-50" id="portfolio">

  <h1 class="w3-center">WHEN TO SEE A DOCTOR?</h1>

  <p class="w3-center">Careful management of your diabetes is the best way to prevent vision loss. If you have diabetes, see your eye doctor for a yearly eye exam with dilation — even if your vision seems fine. Pregnancy may worsen diabetic retinopathy, so if you're pregnant, your eye doctor may recommend additional eye exams throughout your pregnancy.

<br><strong>Contact your eye doctor right away if your vision changes suddenly or becomes blurry, spotty or hazy.</strong></p><br>
</div>


<!-- Third Parallax Image with Portfolio Text -->

<div class="bgimg-7 w3-display-container w3-opacity-min">

</div>



<!-- Container (Change Section) -->

<div class="w3-content w3-container w3-padding-50" id="contact">
  <h1 class="w3-center"> CAUSES </h1>

  <p>
Over time, too much sugar in your blood can lead to the blockage of the tiny blood vessels that nourish the retina, cutting off its blood supply. As a result, the eye attempts to grow new blood vessels. But these new blood vessels don't develop properly and can leak easily.
There are two types of diabetic retinopathy:
<br><strong>Early diabetic retinopathy:</strong> In this more common form — called nonproliferative diabetic retinopathy (NPDR) — new blood vessels aren't growing (proliferating).
When you have NPDR, the walls of the blood vessels in your retina weaken. Tiny bulges (microaneurysms) protrude from the vessel walls of the smaller vessels, sometimes leaking fluid and blood into the retina. Larger retinal vessels can begin to dilate and become irregular in diameter, as well. NPDR can progress from mild to severe, as more blood vessels become blocked.
Nerve fibers in the retina may begin to swell. Sometimes the central part of the retina (macula) begins to swell (macular edema), a condition that requires treatment.
<br><strong>Advanced diabetic retinopathy:</strong> Diabetic retinopathy can progress to this more severe type, known as proliferative diabetic retinopathy. In this type, damaged blood vessels close off, causing the growth of new, abnormal blood vessels in the retina, and can leak into the clear, jelly-like substance that fills the center of your eye (vitreous).
Eventually, scar tissue stimulated by the growth of new blood vessels may cause the retina to detach from the back of your eye. If the new blood vessels interfere with the normal flow of fluid out of the eye, pressure may build up in the eyeball. This can damage the nerve that carries images from your eye to your brain (optic nerve), resulting in glaucoma.</p><br>

</div>

<div class="bgimg-7 w3-display-container w3-opacity-min">

</div>

<div class="w3-content w3-container w3-padding-50" id="contact">
  <h1 class="w3-center">PREVENTION </h1>

  <p>
    You can't always prevent diabetic retinopathy. However, regular eye exams, good control of your blood sugar and blood pressure, and early intervention for vision problems can help prevent severe vision loss.
<br>
If you have diabetes, reduce your risk of getting diabetic retinopathy by doing the following:
<ul>
<li>Manage your diabetes.</li> Make healthy eating and physical activity part of your daily routine. Try to get at least 150 minutes of moderate aerobic activity, such as walking, each week. Take oral diabetes medications or insulin as directed.
<li>Monitor your blood sugar level.</li>Monitor your blood sugar level. You may need to check and record your blood sugar level several times a day — more-frequent measurements may be required if you're ill or under stress. Ask your doctor how often you need to test your blood sugar.
<li>Ask your doctor about a glycosylated hemoglobin test.</li> The glycosylated hemoglobin test, or hemoglobin A1C test, reflects your average blood sugar level for the two- to three-month period before the test. For most people, the A1C goal is to be under 7 percent.
<li>Keep your blood pressure and cholesterol under control.</li> Eating healthy foods, exercising regularly and losing excess weight can help. Sometimes medication is needed, too.
<li>If you smoke or use other types of tobacco, ask your doctor to help you quit.</li> Smoking increases your risk of various diabetes complications, including diabetic retinopathy.
<li>Pay attention to vision changes.</li> Contact your eye doctor right away if you experience sudden vision changes or your vision becomes blurry, spotty or hazy.
</ul>  </p>

</div>

<div class="bgimg-5 w3-display-container w3-opacity-min">

</div>


<% include partials/footer %>

