<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Send Email with Nodemailer</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"><br>
      <h1>Send The Email with Nodemailer</h1><br>
      <form action="/send-email" method="POST">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="to">To:</label>
            <input type="email" class="form-control" name="to">
          </div>
        
          <div class="form-group col-md-4">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" name="subject">
          </div>
        
          <div class="form-group col-md-4">
             <label for="body">Body:</label>
             <textarea cols="5" rows="5"class="form-control" name="body"></textarea>
          </div>
        
          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-success">Send</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>